*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100%;
    width: 100vw;
    background-color: #1a1a1a;
}

.navBar{
    height: 100px;
    width: 100vw;
    position: relative;
    background-color: black;
}

.img{
    padding-top: 20px;
    padding-left: 40px;
    height: 50px;
    width: 45px;

}

.box{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    overflow-y: scroll;
}

.content{
    padding-top: 60px;
    height: 100%;
    width: 55vw;
    background-color: black;
    text-align: center;
    color: white;
    border-radius: 12px;
}


.btn1{
    border-radius: 22px;
    height: 50px;
    width: 350px;
    color: whitesmoke;
    background-color: black;
    border : 1px solid white;
    font-weight:bold;
    margin-left: 25px;
}

.icons{
    font-size: x-large;
    padding-right: 100px;
}

.fBox{
    height: 45px;
    min-width: 350px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: #1a1a1a;

 }

.btn2{
    border-radius: 22px;
    height: 50px;
    width: 350px;
    color: whitesmoke;
    background-color: rgb(47, 197, 55);
    border: none;
    font-weight:bold;
    margin-left: 25px;
    color: black;
    font-weight: bold;
}

.btn1:hover {
    cursor: pointer;
    transform: scale(1.1,1.1);
 }

 .btn2:hover {
    cursor: pointer;
    transform: scale(1.1,1.1);
 }

.anchor{
    color: beige;
    font-size: large;
}

.anchor:hover{
    color: rgb(40, 236, 40);
}